{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<link rel="stylesheet" type="text/css" href="{% static "foundation/css/foundation.min.css" %}">
<head>
    <meta charset="UTF-8">
    <title>Оборудование ЗИП</title>
</head>
<body>
<p>Это моё первое приложение.</p>
<br>
{% block content %}
{# Синий заголовок приложения #}
<div class="large-12 column" style="background-color:#0079c2; color:white">
<h4>Учет ЗИП.</h4>
</div>
<div class="row">
  <div class="large-12 сolumns">
      <ul class="vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown">
          <li>
            <a href="#">Справочники</a>
            <ul class="vertical menu">
              <li><a href="#">Тип ЗИП</a></li>
              <li><a href="#">Типы параметров</a></li>
              <li><a href="#">Пользователи</a></li>
              <li><a href="#">Места</a></li>
              <li><a href="#">Другое</a></li>
            </ul>
          </li>
          <li>
              <a href="#">Напоминалки</a>
            <ul class="vertical menu">
              <li><a href="#">Item 2A</a></li>
              <li><a href="#">Item 2B</a></li>
            </ul>
          </li>
          <li>
              <a href="#">Отчеты</a>
            <ul class="vertical menu">
              <li><a href="#">Item 3A</a></li>
              <li><a href="#">Item 3B</a></li>
            </ul>
          </li>
    </ul>
  </div>
</div>
<div class="large-12 column" style="box-shadow:0 0 10px; margin-bottom:1rem; padding:0">

	{# Данные приложения #}
	<div class="large-12 column" style="padding:1rem;">
	<h6>
	<ul>
	<li><a href="#">Каталог ЗИП.</a></li>
	<li><a href="#">Отчет по ЗИП.</a></li>
	<li><a href="#">Инструкции</a></li>
	</ul></h6>


	</div>
</div>

{% endblock %}

<script src="{% static "foundation/js/vendor/jquery.js" %}"></script>
<script src="{% static "foundation/js/vendor/foundation.js" %}"></script>
<script>
    $(document).foundation();
</script>

</body>
</html>